/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* color de fondo */
body {
    background-image: linear-gradient(to top, rgb(249, 216, 223), rgb(224, 153, 165));
}

/* subtitulos */

h2,
h3 {
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    margin-top: 1rem;
}


/* BOTON DE WSP */
.contenedor-btn{
    background-color: #2e6329;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.contenedor-btn:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 50px;
    transition: ease 1s;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}

/* ESTILOS HEADER */

.titulo-principal{
    background-image: linear-gradient(to top, rgb(249, 216, 223), rgb(224, 153, 165));
    font-size: 30px;
    font-family: 'Arimo', sans-serif;
    padding: 1.3rem;
    text-align: center;
    width: 100% ;
}



.menuNav {
    background-color: rgb(208, 168, 174);
    width: 100%;
    display: none;
}

nav ul {
    background-image: linear-gradient(to top, rgb(233, 146, 195), rgb(140, 107, 127));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

nav ul li {
    background-color: rgb(208, 168, 174);
    display: inline;
    margin: 10px 40px;
    padding: 10px;
    box-shadow: 1px 1px black;
    border-radius: 10px;
}

nav ul li a {
    font-family: 'Arimo', sans-serif;
    font-size: 22px;
    text-decoration: none;

}

/* ESTILOS DEL MAIN*/


.contenedorMain {
    width: 90%;
    margin: 0 auto;
    
}

.titulo-general {
    font-size: 30px;
    border: solid 1px black;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* INDEX */

.contenidoMain {
    display: flex;
    flex-direction: column;
    
}

.contenidoMain p {
    justify-content: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 22px;
    font-family: 'Arimo', sans-serif;

}

.textoMain p {
    margin: 25px 0 20 0;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    text-align: left;
    line-height: 1.5;
    
}



.imagenDos {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem 2rem 0rem;

}

/* PAGINA PILATES */

.contenedorPilates {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* imagen */

.imgPilates {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* preguntas y respuestas */
.textoPilates {
    text-align: center;
}

.pregunta h3 {
    font-size: 19px;
    font-weight: bold;
    margin: 25px 0 5px 0;
    text-transform: uppercase;
    background-color: rgba(164, 170, 219, 0.866);
    padding: 10px;
}


.pregunta h4{
    font-size: 19px;
    font-weight: bold;
    margin: 25px 0 5px 0;
    text-transform: uppercase;
    background-color: rgba(164, 170, 219, 0.866);
    padding: 10px;
} 

.pregunta p {
    font-size: 18px;

    line-height: 1.2;
}

/* video */

.videoPilates iframe {
    width: 100%;
    height: 350px;
}

.videoUno {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}



/* estilo h2 */
main h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Arimo', sans-serif;
    color: rgb(48, 6, 48);
}

/* estilo imagen */
section .imgPilates {
    display: flex;
    justify-content: center;
    border-image-width: auto;

}

/* estilo parrafo */
.parrafo {
    display: inline-block;
    text-align: center;
}

/* PAGINA ELONGACION */

.imgElongacion {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3rem;
    text-align: center;
}

.texto-elongacion {
    text-align: center;
    font-size: 15px;
    font-family: 'Arimo', sans-serif;
    color: rgb(48, 6, 48);
}


/*PAGINA YOGA */

.pYoga {
    font-size: 20px;
}

.videoYoga .videoYoga1 {
    width: 100%;
    height: 350px;
    margin-top: 25px;
}

/* PAGINA CLASES  */
img {
    width: 80%;
    margin: 0 auto;

}

.clases {
    display: inline-block;
    justify-content: center;
    justify-items: center;
}

.contenedorMain .mainClases h2 {
    font-size: 1.3rem;
    border: solid 1px black;
    margin: 3rem 0 2rem 0;
}

.imgClases {
    display: grid;
    width: 70%;
    align-content: center;
    margin: 0 auto;
    gap: 3.5rem;
    border: 2px solid black;
}


.sectionClases {
    margin: 1.3rem;
}

.sectionClases p {
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    color: rgb(48, 6, 48);
}

/* tarjetas */
.tarjetas{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: 3rem 0.5rem;
    justify-content: center;
    
}

.tamanio h3{
    font-size: 20px;
}

.bg-tarjeta{
    background-color: rgb(237, 219, 222);
    font-family: 'Source Serif Pro', serif;
}


/* PAGINA CONTACTO */

/* estilos de formulario */

form {
    margin: 0 auto;
    width: 500px;
    background-color: rgb(212, 98, 98);
    padding: 2px;
    border-style: double;
    font-size: 20px;
}

input,
textarea {
    padding: 5px;
}

label {
    display: block;
    padding: 5px;
}

/* estilos de redes */

.contacto {
    text-align: center;
    padding-top: 20px;
}


/* estilo footer */
footer h2 {
    background-color: rgb(212, 164, 171);
    font-size: 1rem;
    text-align: center;
}



/*GRID*/
/* grid index */
.contenedorIndex {
    display: flex;
    flex-direction: column;
}

.contenedorYoga {
    display: flex;
    flex-direction: column;
}



.contenedorGaleria {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr) 200px;
    grid-template-rows: 1fr;
}


/*QUERY PARA TABLET*/
@media screen and (min-width:576px) and (max-width:991px) {
    /*INDEX*/
    /* estilos header */

    .tituloHeader {
        font-size: 50px;
    }

    .menuNav {
        display: block;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav ul li {
        margin: 5px;
        padding: 10px;
        box-shadow: 1px 1px black;
        border-radius: 10px;
    }

    nav ul li a {
        font-family: 'Arimo', sans-serif;
        font-size: 22px;
        text-decoration: none;

    }

    /*estilos main*/
    .textoMain p {
        font-size: 24px;
    }

    .contenidoMain div h3 {
        font-size: 25px;
    }

    /*CLASES */

    /* estilo section*/


    .sectionClases p {
        font-size: 1.7rem;
        margin-bottom: 5rem;
    }

    .foto-size{
        width: 65%;
        margin-left: 120px;
    }

 
}

/*QUERY PARA DESKTOP*/

@media screen and (min-width:992px) {

    /* ESTILOS HEADER */

    /*ANIMACION*/
    ul li:hover{
        background-color: rgb(245, 163, 176);
        transform: scale(0.9);
        box-shadow: 1px 1px 5px violet;
}
    .header {
        position: sticky;
        top: 0;
    }

    .tituloHeader {
        font-size: 60px;
    }

    .bg-menu {
        background-image: linear-gradient(to top, rgb(233, 146, 195), rgb(140, 107, 127));
        
    }

    .row h1{
        font-size: 50px;
        color: rgb(55, 24, 83);
    }

    .menuNav {
        display: block;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav ul li {
        
        box-shadow: 1px 1px black;
        border-radius: 10px;
    }

    /*PAGINA INDEX*/
    .textoMain p {
        font-size: 28px;

    }

    .contenidoMain div h3 {
        font-size: 30px;
    }


    .contenedorInfo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 15px;
        margin-top: 50px;
        text-align: center;

    }

    .introduccionImg2 {
        grid-area: 2 / 2 / 2 / 2;
    }

    .introduccionTexto {
        display: flex;
        align-items: center;

    }

    .imgInfo {
        width: 80%;
    }



    .introduccionTexto {
        font-size: 25px;
    }

    /* PAGINA PILATES */

    .imgPilates {
        width: 90%;
        height: 800px;
        margin: 0 auto;
    }

    .textoPilates {
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 40px;
    }

    .pregunta {
        border: 2px dotted blue;
        margin: 15px;
    }

    .pregunta h4 {
        margin: 0px;
        padding: 10px;
    }

    .videoPilates iframe {
        width: 70%;
        height: 600px;
        margin: 0 auto;
        padding-top: 25px;
    }

    /*PAGINA CLASES */

    /* estilo section*/

    .contenedorMain .mainClases h2 {
        font-size: 2.8rem;
    }

    .sectionClases p {
        font-size: 2rem;
        margin-bottom: 5rem;
    }

    .imgClases {
        display: none;
    }

    .foto-size{
        width: 60%;
       height: 600px;
       margin-left: 220px;
    }

    .container-fluid{
        display: flex;
        align-content: center;
    }

    /*animacion tarjetas */
    
    .card:hover{
        transform: scale(1.2);
    }

       /* PAGINA ELONGACION */
       .imgElongacion {
        width: 100%;
       }

        .texto-elongacion{
            font-size: 25px;
        }

        /*grid*/
        .contenedor-grid{
            display: grid;
            grid-template-columns: 0.5fr 0.5fr ;
            grid-template-rows: 0.3fr 0.5fr 1fr 1fr 0.2fr ;
        
            grid-template-areas: 
            "header header"
            "main main"
            "section section-dos"
            "section-tres section-tres"
            "footer footer";
        }
        
        header{
            grid-area: header;
        }
        
        main{
            grid-area: main;
        }
        
        section{
            grid-area: section;
        }
        
        .section-dos{
            grid-area: section-dos;
        }
        
        .section-tres{
            grid-area: section-tres;
        }
        
        footer{
            grid-area: footer;
        }
         
    }

      /*ESTILOS FOOTER*/

      footer h2 {
        font-size: 1.2rem;
    }

}